[submodule "vendor/bundler.el"]
	path = vendor/bundler.el
	url = git://github.com/tobiassvn/bundler.el.git
[submodule "vendor/foreman.el"]
	path = vendor/foreman.el
	url = git://github.com/waymondo/foreman.el.git
[submodule "vendor/cheat.el"]
	path = vendor/cheat.el
	url = https://github.com/defunkt/cheat.el.git
[submodule "vendor/powerline.el"]
	path = vendor/powerline.el
	url = https://github.com/milkypostman/powerline.git
[submodule "vendor/sackspace.el"]
	path = vendor/sackspace.el
	url = https://github.com/cofi/sackspace.el
[submodule "vendor/popwin.el"]
	path = vendor/popwin.el
	url = git://github.com/m2ym/popwin-el.git
[submodule "vendor/deft.el"]
	path = vendor/deft.el
	url = git://jblevins.org/git/deft.git
[submodule "vendor/ack-and-a-half.el"]
	path = vendor/ack-and-a-half.el
	url = git://github.com/jhelwig/ack-and-a-half.git
[submodule "vendor/magit.el"]
	path = vendor/magit.el
	url = git://github.com/magit/magit.git
[submodule "vendor/ace-jump-mode.el"]
	path = vendor/ace-jump-mode.el
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "vendor/expand-region.el"]
	path = vendor/expand-region.el
	url = git://github.com/magnars/expand-region.el.git
[submodule "vendor/less-css-mode.el"]
	path = vendor/less-css-mode.el
	url = git://github.com/purcell/less-css-mode.git
[submodule "vendor/heroku.el"]
	path = vendor/heroku.el
	url = git://github.com/technomancy/heroku.el.git
[submodule "vendor/evil.el"]
	path = vendor/evil.el
	url = git://gitorious.org/evil/evil.git
[submodule "vendor/slim-mode.el"]
	path = vendor/slim-mode.el
	url = git://github.com/minad/emacs-slim.git
[submodule "vendor/switch-window.el"]
	path = vendor/switch-window.el
	url = git://github.com/dimitri/switch-window.git
[submodule "vendor/zoom-frm.el"]
	path = vendor/zoom-frm.el
	url = git://github.com/emacsmirror/zoom-frm.git
[submodule "vendor/auto-complete.el"]
	path = vendor/auto-complete.el
	url = git://github.com/auto-complete/auto-complete.git
[submodule "vendor/popup.el"]
	path = vendor/popup.el
	url = git://github.com/auto-complete/popup-el.git
[submodule "vendor/helm.el"]
	path = vendor/helm.el
	url = git://github.com/emacs-helm/helm.git
[submodule "vendor/readline-complete.el"]
	path = vendor/readline-complete.el
	url = git://github.com/monsanto/readline-complete.el.git
[submodule "vendor/ido-ubiquitous.el"]
	path = vendor/ido-ubiquitous.el
	url = git://github.com/technomancy/ido-ubiquitous.git
[submodule "vendor/magithub.el"]
	path = vendor/magithub.el
	url = git://github.com/nex3/magithub.git
[submodule "vendor/coffee-mode.el"]
	path = vendor/coffee-mode.el
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/jump-char.el"]
	path = vendor/jump-char.el
	url = git://github.com/lewang/jump-char.git
[submodule "vendor/dired-details.el"]
	path = vendor/dired-details.el
	url = git://github.com/emacsmirror/dired-details.git
[submodule "vendor/yaml-mode.el"]
	path = vendor/yaml-mode.el
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/key-chord.el"]
	path = vendor/key-chord.el
	url = git://github.com/emacsmirror/key-chord.git
[submodule "vendor/smex.el"]
	path = vendor/smex.el
	url = git://github.com/nonsequitur/smex.git
[submodule "vendor/haml-mode.el"]
	path = vendor/haml-mode.el
	url = git://github.com/nex3/haml-mode.git
[submodule "vendor/sass-mode.el"]
	path = vendor/sass-mode.el
	url = git://github.com/nex3/sass-mode.git
[submodule "vendor/scss-mode.el"]
	path = vendor/scss-mode.el
	url = git://github.com/antonj/scss-mode.git
[submodule "vendor/jade-mode.el"]
	path = vendor/jade-mode.el
	url = git://github.com/brianc/jade-mode.git
[submodule "vendor/rhtml-mode.el"]
	path = vendor/rhtml-mode.el
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/rinari.el"]
	path = vendor/rinari.el
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/predictive.el"]
	path = vendor/predictive.el
	url = git://github.com/emacsmirror/predictive.git
[submodule "vendor/ac-predictive.el"]
	path = vendor/ac-predictive.el
	url = git://github.com/tkosaka/ac-predictive.git
[submodule "vendor/slime.el"]
	path = vendor/slime.el
	url = git://github.com/nablaone/slime.git
[submodule "vendor/volatile-highlights.el"]
	path = vendor/volatile-highlights.el
	url = git://github.com/k-talo/volatile-highlights.el.git
[submodule "vendor/undo-tree.el"]
	path = vendor/undo-tree.el
	url = git://github.com/emacsmirror/undo-tree.git
[submodule "vendor/highlight-tail.el"]
	path = vendor/highlight-tail.el
	url = git://github.com/emacsmirror/highlight-tail.git
[submodule "vendor/js2-mode.el"]
	path = vendor/js2-mode.el
	url = git://github.com/mooz/js2-mode.git
[submodule "vendor/slime-js.el"]
	path = vendor/slime-js.el
	url = git://github.com/swank-js/swank-js.git
[submodule "vendor/js2-refactor.el"]
	path = vendor/js2-refactor.el
	url = git://github.com/magnars/js2-refactor.el.git
[submodule "vendor/kite.el"]
	path = vendor/kite.el
	url = git://github.com/jscheid/kite.git
[submodule "vendor/inf-ruby.el"]
	path = vendor/inf-ruby.el
	url = git://github.com/nonsequitur/inf-ruby.git
[submodule "vendor/smart-tab.el"]
	path = vendor/smart-tab.el
	url = git://github.com/genehack/smart-tab.git
[submodule "vendor/gist.el"]
	path = vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/json.el"]
	path = vendor/json.el
	url = git://github.com/thorstadt/json.el.git
[submodule "vendor/websocket.el"]
	path = vendor/websocket.el
	url = git://github.com/ahyatt/emacs-websocket.git
[submodule "vendor/shell-pop.el"]
	path = vendor/shell-pop.el
	url = git://github.com/kyagi/shell-pop-el.git
[submodule "vendor/ruby-tools.el"]
	path = vendor/ruby-tools.el
	url = git://github.com/rejeep/ruby-tools.git
[submodule "vendor/ruby-end.el"]
	path = vendor/ruby-end.el
	url = git://github.com/rejeep/ruby-end.git
[submodule "vendor/dash.el"]
	path = vendor/dash.el
	url = git://github.com/magnars/dash.el.git
[submodule "vendor/multiple-cursors.el"]
	path = vendor/multiple-cursors.el
	url = git://github.com/magnars/multiple-cursors.el.git
