[submodule "vendor/cheat.el"]
	path = vendor/cheat.el
	url = https://github.com/defunkt/cheat.el.git
[submodule "vendor/deft.el"]
	path = vendor/deft.el
	url = git://jblevins.org/git/deft.git
[submodule "vendor/rhtml-mode.el"]
	path = vendor/rhtml-mode.el
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/rinari.el"]
	path = vendor/rinari.el
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/predictive.el"]
	path = vendor/predictive.el
	url = git://github.com/emacsmirror/predictive.git
[submodule "vendor/highlight-tail.el"]
	path = vendor/highlight-tail.el
	url = git://github.com/emacsmirror/highlight-tail.git
[submodule "vendor/gist.el"]
	path = vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/wanderlust"]
	path = vendor/wanderlust
	url = git://github.com/wanderlust/wanderlust.git
[submodule "vendor/hippie-with-ac.el"]
	path = vendor/hippie-with-ac.el
	url = git://github.com/ispinfx/hippie-with-ac.el.git
